{% extends "base.html" %}

{% block body-scripts %}

{% endblock %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12" id="chart-container1">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#ctab" aria-controls="ctab" role="tab" data-toggle="tab">Cumulative</a></li>
      <li role="presentation"><a href="#etab" aria-controls="etab" role="tab" data-toggle="tab">Expire</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="ctab">
	<div class="row">
	  <div class="col-md-12" id="chart-container">
	  </div>
	</div>
      </div>
      <div role="tabpanel" class="tab-pane" id="etab">
	<div class="col-md-6" id="expire-chart-container">
	</div>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="poll-container">
    
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="themed-container themed-box">
      <h4>Vote with Twitter</h4>
      <p>Send a tweet to @metapoller with your vote. E.g:</p>
      <p>
	@metapoller #tonnyabbot #negative
	<br/>or<br/>
	@metapoller #tonnyabbot #positive
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="themed-container themed-box">
      <h4>Vote with Facebook</h4>
      <div id="fb-container"></div>
    </div>
  </div>
</div>


{% endblock %}
{% block page-scripts %}
<script>
centipair.registry.load_function("render-home-page");
</script>
{% endblock %}

