{% extends "base.html" %}

{% block body-scripts %}

{% endblock %}
{% block title %}
{{poll_title}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12" id="chart-container">
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="poll-container">
    
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="fb-container">
    
  </div>
</div>
<input type="hidden" id="poll-id" value="{{poll-data.poll_id}}"/>
{% endblock %}
{% block page-scripts %}
<script>
centipair.registry.load_function("render-poll-ui");
</script>
{% endblock %}

