{% extends "base.html" %}

{% block body-scripts %}

{% endblock %}
{% block title %}
{{poll_title}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12" id="chart-container1">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#ctab" aria-controls="ctab" role="tab" data-toggle="tab">Cumulative</a></li>
      <li role="presentation"><a href="#etab" aria-controls="etab" role="tab" data-toggle="tab">Expire</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="ctab">
	<div class="row">
	  <div class="col-md-12" id="chart-container">
	  </div>
	</div>
      </div>
      <div role="tabpanel" class="tab-pane" id="etab">
	
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="poll-container">
    
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="fb-container">
  </div>
</div>
<input type="hidden" id="poll-id" value="{{poll-data.poll_id}}"/>
{% endblock %}
{% block page-scripts %}
<script>
centipair.registry.load_function("render-poll-ui");
</script>
{% endblock %}

