{% extends "nbase.html" %}

{% block body-scripts %}

{% endblock %}
{% block title %}
{{poll_title}}
{% endblock %}

{% block content %}
<!--<div class="row">
  <div class="col-md-12" id="chart-container1">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#ctab" aria-controls="ctab" role="tab" data-toggle="tab">Cumulative</a></li>
      <li role="presentation"><a href="#etab" aria-controls="etab" role="tab" data-toggle="tab">Expire</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="ctab">
	<div class="row">
	  <div class="col-md-12" id="chart-container">
	  </div>
	</div>
      </div>
      <div role="tabpanel" class="tab-pane" id="etab">
	<div class="col-md-6" id="expire-chart-container">
	</div>
      </div>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="poll-container">
    
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center" id="fb-container">
  </div>
</div>-->

<div class="text-center">
  <h4>To cast your votes</h4>
  <div id="fb-container"></div>
  <h4>or</h4>
  <h4>send a tweet to metapoller with yoour vote. E.g:</h4>
  <h4>@metapoller #tonyabbot #positive</h4>
</div>
<div class="table-responsive">
  <div id="chart-container">
	
  </div>
  <div id="poll-container"></div>
  <div id="expire-chart-container">
  </div>
  <div id="history-chart-container">
  </div>
</div>

<!--<div class="row">
  <div class="col-md-12 text-center" id="poll-tweet-container">
    {% for each-tweet in poll-tweets%}
    <div class="row">
      <div class="col-md-1">
	<img src="{{each-tweet.poll_tweet_profile_image}}"/>
	<a href="https://twitter.com/intent/user?user_id={{each-tweet.movie_tweet_twitter_id}}" target="_blank">{{each-tweet.poll_tweet_screen_name}}</a>
      </div>
      <div class="col-md-5">
	{{each-tweet.poll_tweet_text}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>-->

<input type="hidden" id="poll-id" value="{{poll-data.poll_id}}"/>
{% endblock %}
{% block page-scripts %}
<script>
centipair.registry.load_function("render-poll-ui");
</script>
{% endblock %}

